.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #FAFAFA;
    backdrop-filter: blur(12px);
    margin-bottom: 40px;
    padding-top: 35px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 140px;

    box-sizing: border-box;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginBtn {
    min-width: 103px;
    height: 52px;
}

.inner {
    display: flex;
    justify-content: space-between;

}

.logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
}

.logoImage {
    margin-bottom: 15px;
}

.logoSub {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.3;
    white-space: nowrap;
}
