.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* HERO */
.hero {
    margin-bottom: 34px;
}

.heroCard {
    position: relative;
    height: 310px;
    border-radius: 30px;
    overflow: hidden;
    background: #FFC700;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.heroTitle {
    position: absolute;
    left: 40px;
    top: 28px;
    z-index: 2;
    margin: 0;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
}

.heroImage {
    position: absolute;
    right: 100px;
    bottom: 0;
    top: -50px;
    width: 360px;
    height: 325px;
    transform: scale(1.23);
}

/* SECTIONS */
.section {
    margin-top: 34px;
}

.sectionTitle {
    margin: 0 0 18px 0;
    font-size: 40px;
    font-weight: 600;
    color: #0b0b0b;
}

/* FITTING */
.fittingGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.25fr) minmax(0, 1fr);
    gap: 18px;
}

.fittingCard {
    display: flex;
    gap: 25px;
    align-items: center;
    background: #1f2937;
    color: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.fittingCard:nth-child(2) {
    z-index: 1;
    transform: scale(1.03);
}

.fittingIndex {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 75px;
    line-height: 135%;
    letter-spacing: 0;

    color: #bcec30;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 101px;
}


.fittingText {
    margin: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
}

/* DIRECTIONS */
.directions {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: minmax(0, 1fr);
    gap: 34px;
    background: #bcec30;
    padding: 30px;
    border-radius: 28px;
    max-width: 1160px;
    min-height: 146px;
}

.directionChip {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #0b0b0b;
    font-weight: 400;
    /*line-height: 1.1;*/
    width: 284px;
}

/* DESCRIPTION */
.description {
    margin: 0;
    max-width: 920px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.6;
    font-size: 16px;
}
